<section>
    <h1>{{title}}</h1>
    <h3 class="titleArticlesBlog">ARTICLES</h3>
    <h5 class="showFilterOnBlog">{{filter}}</h5>
    <form class="filter" action="">
        <fieldset>
            <label class="labelFilter" for="category"></label>
            <select class="selectFilter" name="category" id="category" onchange="location = this.value">
                <option value="" hidden selected>Par Catégorie</option>
                <option value="/blog-actualites">Actualités</option>
                <option value="/blog-conseils">Conseils</option>
                <option value="/blog-Referencement">Référencement</option>
                <option value="/blog-analytics">Analytics</option>
                <option value="/blog-web">Web</option>
            </select>
            <label class="labelFilter" for="selecAuthor"></label>
            <select class="selectFilter" name="selecAuthor" id="selecAuthor" onchange="location = this.value">
                <option value="" hidden selected>Par Auteur</option>
                <option value="/blog-wg">William Gauvin</option>
                <option value="/blog-mc">Mathieu Cossette</option>
                <option value="/blog-hb">Hans Bherer</option>
            </select>
            <label class="labelFilter" for="selecDate"></label>
            <select class="selectFilter" name="selecDate" id="selecDate" onchange="location = this.value">
                <option value="" hidden selected>Par Mois</option>
                <option value="/blog-janv">Janv.</option>
                <option value="/blog-fevr">Févr.</option>
                <option value="/blog-mars">Mars</option>
                <option value="/blog-avr">Avr.</option>
                <option value="/blog-mai">Mai</option>
                <option value="/blog-juin">Juin</option>
                <option value="/blog-juil">Juil.</option>
                <option value="/blog-aout">Août</option>
                <option value="/blog-sept">Sept.</option>
                <option value="/blog-oct">Oct.</option>
                <option value="/blog-nov">Nov.</option>
                <option value="/blog-dec">Déc.</option>
            </select>
        </fieldset>
    </form>
    {{#each articles}}
    <div class="articleBlog" data-aos="fade-up">
        <h3 class="titleArticleBlog">{{this.title}}</h3>
        <img class="imgArticlesBlog" src="{{this.img}}" alt="image article">
        <p class="categoryArticleBlog">{{this.category}}</p>
        <p class="dateAuthorArticleBlog">{{this.datePublished}}</p>
        <p class="resumArticleBlog">{{this.resum}}</p>
        <p class="dateAuthorArticleBlog">{{this.author}}</p>
        <p class="showArticleBlog"><a class="aShowArticleBlog hover-border" href="/article/{{this.id}}">LIRE
                L'ARTICLE</a></p>
    </div>
    {{/each}}
</section>