<section>
<h1>{{title}}</h1>
</section>


<h3 class="section-title">NOUS JOINDRE</h3>
<div class="separator"></div>
<section id="contact">
    <div>
    <img src="/images/building.svg" alt="Image contact">
    </div>
    <div>
        <p>Numéro de téléphone :</p>
        <p>Adresse courriel :</p>
        <p>Adresse :</p>
    </div>
    <div>
        <p><strong>(418) 555-4567</strong></p>
        <p><strong>info@forcemajeur.co</strong></p>
        <p><strong>123 rue Saint-Vallier éouest, Qc, Can, G1K 1D2</strong></p>
    </div>
</section>
<h3 class="section-title" id="soumission">ÉCRIVEZ-NOUS!</h3>
<div class="separator"></div>
<h5 id="error-form">{{msg}}</h5>
<section id="formulaire">
    <form action="/contact-send" method="POST">
        <label for="fullname">Prénom et nom</label>
        <input type="text" id="fullname" name="fullname" placeholder="Votre nom complet">
        <label for="email">Adresse courriel</label>
        <input type="email" id="email" name="email" placeholder="votre@adresse-email.com">
        <label for="numTel">Numéro de téléphone</label>
        <input type="tel" id="numTel" name="numTel" placeholder="(000)-000-0000">
        <label for="message">Comment pouvons-nous vous aider?</label>
        <textarea id="message" name="message" cols="50" rows="15" placeholder="Parlez-nous de vous!"></textarea>
        <div id="contact-btn">
            <button type="submit" value="ENVOYER" class="cta-secondaire">ENVOYER</button>
        </div>
    </form>
</section>
