<section class="hero">
    <div id="heroCTA">
        <a href="#" class="cta-secondaire">TÉLÉCHARGEZ L'ESSAI GRATUIT</a>
    </div>


    <div class="GlobalTitle sMarginBottom">
        <div class="TopTitle">
            <div>F</div>
            <form class="ring">
                <input placeholder="Best SEO Tool" class="O">
                <button class="displaynone"></button>
            </form>
            <div>RCE</div>
        </div>
        <div class="BottomTitle">MAJEURE</div>
    </div>
</section>


    <div class="flex alignCenter flexColumn sMarginBottom">
        <p>{{sous_titre}}</p>
    </div>

<section id="intro">
    <div>
        <article>
            <h3>COMMENT <br> ÇA MARCHE!?</h3>
            <p>L’outil <strong>Force Majeure</strong> rend l’optimisation SEO de votre site un jeu d’enfant et ce,
                peut-importe
                votre niveau de connaissance.</p>
            <p>Connectez-le facilement à votre CMS favori et augmentez votre score d’optimisation en réalisant les
                étapes qui vous
                sont présentées.</p>
            <a href="/contact" class="cta-secondaire">CONTACTEZ-NOUS</a>
        </article>
    </div>
    <div>
        <img src="/images/statue.png" alt="Image accueil">
    </div>
</section>
<div class="section-title">Avantages</div>
<div class="separator"></div>
<section id="avantages">
    {{#each services}}
    <div>
        <a href="/detailservice/{{this.id}}">
            <div class="avantage-card" data-aos="flip-down">
                <h3>{{this.title}}</h3>
                <span data-aos="fade-in" data-aos-delay="200">{{this.pourcentage}}</span>
                <p class="separatorFullWidth"></p>
                <p>{{this.resum}}</p>
            </div>
        </a>
    </div>
    {{/each}}
</section>
<div class="section-title">Compatibilité</div>
<div class="separator"></div>
<section id="compatibilite">
    <div data-aos="flip-left"><img src="/images/wordpress.svg" alt="Logo Wordpress"></div>
    <div data-aos="flip-left"><img src="/images/woo-com.svg" alt="Logo Woo Commerce"></div>
    <div data-aos="flip-left"><img src="/images/shopify.svg" alt="Logo Shopify"></div>
    <div data-aos="flip-left"><img src="/images/drupal.svg" alt="Logo Drupal"></div>
    <div data-aos="flip-left"><img src="/images/mangento.svg" alt="Logo Mangento"></div>
</section>
<div class="section-title">Types de licences</div>
<div class="separator"></div>
<section id="licences">
    {{#each licences}}
    <div>
        <div class="licence-card" data-aos="flip-left">
            <h3>{{this.title}}</h3>
            <p>{{this.subTitle}}</p>
            <span data-aos="fade-in" data-aos-delay="200">{{this.prise}}</span>
            <hr>
            <ul>
                <li>{{this.contente1}}</li>
                <li>{{this.contente2}}</li>
                <li>{{this.contente3}}</li>
                <li>{{this.contente4}}</li>
                <li>{{this.contente5}}</li>
            </ul>
            <a href="#" class="cta-secondaire">
                {{this.about}}
            </a>
        </div>
    </div>
    {{/each}}
</section>
<div class="hero2">
    <div class="animationOnlyGoogle">
        <div>"ONLY
            <span class="animGoogle2">G</span>
            <span class="animGoogle3">o</span>
            <span class="animGoogle4">o</span>
            <span class="animGoogle5">g</span>
            <span class="animGoogle6">l</span>
            <span class="animGoogle7">e</span>
            <br>
            CAN JUDGE ME"
        </div>
    </div>
</div>
<div class="section-title">Nos services</div>
<div class="separator"></div>
<section id="services">
    {{#each services }}
    <div>
        <div class="service-card" data-aos="flip-down">
            <h3>{{this.title}}</h3>
            <p class="separatorFullWidth"></p>
            <p>{{this.resum}}</p>
            <a href="/detailservice/{{this.id}}" class="hover-border">
                <img src="/images/icons/arrow-side.png" alt="apprenez-en plus">
                {{this.about}}
            </a>
        </div>
    </div>
    {{/each}}
</section>
<div id="contact-btn">
    <a href="/contact" class="cta-secondaire">CONTACTEZ NOTRE ÉQUIPE</a>
</div>
<section id="seo" data-aos="zoom-in-down">
    <h2>SEO</h2>
    <h3>L'INÉVITABLE INVESTISSEMENT</h3>
    <p>Découvrez pourquoi en téléchargeant
        gratuitement notre <strong>e-book</strong></p>
    <a href="#" class="hover-border">
        <img src="/images/icons/e-book.png" alt="apprenez-en plus">
        TÉLÉCHARGEZ GRATUITEMENT
    </a>
</section>
<script src="https://code.jquery.com/jquery-3.6.0.slim.min.js"
    integrity="sha256-u7e5khyithlIdTpu22PHhENmPcRdFiHRjhAuHcs05RI=" crossorigin="anonymous"></script>