<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="//cdn.jsdelivr.net/gh/dmhendricks/bootstrap-grid-css@4.1.3/dist/css/bootstrap-grid.min.css" />
  <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
  <link rel='stylesheet' href='/stylesheets/style.css'>
  <link rel="icon" href="#" type="image/x-icon"> <!-- Put Logo image in href :D  -->
  <title>{{title}}</title>
</head>

<body>
  <header id="header">
    <nav class="navbar wrap1440">
      <div class="navbar-logo">
        <a href="/"><img src="/images/logoNavbar.png" alt="logo Force Majeure"></a>
      </div>
      <div class="navbar-item">
        <a class="dropdown hover-border" href="/services">services <img class="arrow" src="/images/icons/arrow-down.png" alt=""></a>
          <ul class="dropdown-content">
            <li><a href="/detailservice/6091cd4f1b775164d4c8e9e9" class="hover-border p"><img src="/images/icons/ref-naturel.png"> Référencement naturel</a></li>
            <li><a href="/detailservice/6091cd941b775164d4c8e9ea" class="hover-border"><img src="/images/icons/ref-payant.png"> Référencement payant</a></li>
            <li><a href="/detailservice/6091cda71b775164d4c8e9eb" class="hover-border"><img src="/images/icons/analytics.png"> Analytics</a></li>
            <li><a href="/detailservice/6091cdd11b775164d4c8e9ed" class="hover-border"><img src="/images/icons/strategie.png"> Stratégie web</a></li>
            <li><a href="/detailservice/6091cdbc1b775164d4c8e9ec" class="hover-border"><img src="/images/icons/dev.png"> Développement web</a></li>
            <li><a href="/detailservice/6091cde31b775164d4c8e9ee" class="hover-border"><img src="/images/icons/design.png"> Design web</a></li>
          </ul>
        <a href="/blog" class="hover-border">blog</a>
        <a href="/propos" class="hover-border">à propos</a>
        <a href="/contact" class="hover-border">contact</a>
        <a href="" id="telecharger">télécharger</a>
      </div>        
    </nav>
  </header>

  <main class="wrap1440">
    {{{body}}}
  </main>

  <footer>
    <div class="border-footer"></div>
    <div class="grid-container-footer wrap1440">
      <div class="grid-item-footer">
        <h3>Services</h3>
          <ul>
            <li><a href="/detailservice/6091cd4f1b775164d4c8e9e9">Référencement naturel</a></li>
            <li><a href="/detailservice/6091cd941b775164d4c8e9ea">Référencement payant</a></li>
            <li><a href="/detailservice/6091cda71b775164d4c8e9eb">Analytics</a></li>
            <li><a href="/detailservice/6091cdd11b775164d4c8e9ed">Stratégie web</a></li>
            <li><a href="/detailservice/6091cdbc1b775164d4c8e9ec">Développement web</a></li>
            <li><a href="/detailservice/6091cde31b775164d4c8e9ee">Design web</a></li>
          </ul>
      </div>
      <div class="grid-item-footer">
        <h3>Blog</h3>
          <ul>
            <li><a href="/blog-actualites">Actualités</a></li>
            <li><a href="/blog-conseils">Conseils</a></li>
            <li><a href="/blog-Referencement">Référencement</a></li>
            <li><a href="/blog-analytics">Analytics</a></li>
            <li><a href="/blog-web">Web</a></li>
          </ul>
      </div>
      <div class="grid-item-footer">
        <h3>À propos</h3>
          <ul>
            <li><a href="/propos">L'entreprise</a></li>
            <li><a href="/propos#FMteam">L'équipe</a></li>
          </ul>
      </div>
      <div class="grid-item-footer">
        <h3>Contact</h3>
          <ul>
            <li><a href="/contact">Nous joindre</a></li>
            <li><a href="/contact#soumission">Soumission</a></li>
          </ul>
      </div>
      <div class="grid-item-footer copyrights"><p>&copy Force Majeure__2021</p></div>
      <div class="grid-item-footer"></div>
      <div class="grid-item-footer"></div>
      <div class="grid-item-footer logos-footer">
        <a href="#"><img src="/images/icons/facebook.png"></a>
        <a href="#"><img src="/images/icons/instagram.png"></a>
      </div>
    </div>
  </footer>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.6.1/gsap.min.js"></script>
  <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
  <script> AOS.init(); </script>
  <script src='./javascripts/script.js'></script>
</body>

</html>